<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detección Facial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detección Facial</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="video-container">
    <video #video autoplay muted></video>
    <canvas #canvas></canvas>
    <div *ngIf="isValidating" class="timer">
      Validando... {{validationTime}}s
    </div>
  </div>

  <ion-button expand="full" color="primary" class="validate-button" (click)="validateDetection()">Validar</ion-button>
</ion-content>
